.nft-card-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
}

@media (min-width: 576px) and (max-width: 991px) {
  .nft-card-list {
    flex-direction: row;
    gap: 50px;
    flex-wrap: wrap; /* Allow items to wrap to the next line on tablet sizes */
    justify-content: center; /* Center the items on tablet sizes */
  }
}

@media (min-width: 992px) {
  .nft-card-list {
    flex-direction: row;
    flex-wrap: nowrap; /* Prevent wrapping on desktop sizes */
  }
}
